$color-background: #fbffe3;
$color-primary: #9d2222;
$color-primary-dark: #811c1c;
$color-text-gray-dark: #342e2e;
$color-text-gray: #403f3f;
$color-text-white: #fdfdfd;
$color-white: #ebebeb;
$color-black: #1e1b1b;
